/*==================================================================================================== 
    MOBILE M
==================================================================================================== */
@media (min-width: 375px) and (max-width: 424px) {


    #logoTextHeader {
        display: none;
    }

    .detailView__Content {
        top: 10%;
        width: 350px;
        background-color: white;
    }

    #previousPokemonBtn {
        left: 0px;
    }

    #nextPokemonBtn {
        right: 0px;
    }

    .moveBtn {
        position: absolute;
        top: 102%;
        padding: 10px 60px;
    }

    .mainDetailInfo {
        margin-top: 120px;
    }

    .detailView__Img {
        top: -60px;
        border-bottom: none;
    }

    .detailView__Img img {
        width: 200px;
        height: 200px;
    }

    .type__Img {
        width: 100px;
    }

    body {
        font-size: var(--fsMobileDefault);
    }

    h1 {
        font-size: var(--fsMobileH1)
    }

    h2 {
        font-size: var(--fsMobileH2);
    }

    h3 {
        font-size: var(--fsMobileH3);
    }

    h4 {
        font-size: var(--fsMobileH4);
    }

    input {
        font-size: var(--fsMobileTertiary);
    }

    .detailView__Content {
        font-size: var(--fsMobileTertiary);
    }

    .statsNamesContainer {
        font-size: 12px;
    }

    .evolveChainText {
        font-size: var(--fsMobileTertiary);
    }

    .card__No {
        font-size: var(--fsMobileTertiary);
    }

    #txtAmount {
        font-size: var(--fsMobileTertiary);
    }

    .content__Footer p {
        font-size: var(--fsMobileTertiary) !important;
    }

    .deepDetailInfo{
        max-height: 200px;
        overflow-y: auto;
    }

}