.detailView {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background: linear-gradient(160deg, rgba(66, 191, 36, 0.6) 0%, rgba(66, 191, 36, 1) 50%, rgba(153, 77, 207, 0.6) 65%, rgba(153, 77, 207, 1) 100%);
}

.detailView__Content {
    position: fixed;
    top: 15%;
    left: auto;
    right: auto;
    width: 500px;
    background-color: white;
    z-index: 99;
    border-radius: var(--stdRadius);
    border-top-left-radius: 30px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-size: var(--fsDesktopTertiary);
    padding: 16px;
}

.btn-close {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
}

.detailView__Content p {
    margin-bottom: 0;
}

.mainDetailInfo {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.physicalInfoContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}


.detailView__Img {
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--stdTransition);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.detailView__Img img {
    width: 250px;
    height: 250px;
}

.accordion-body {
    display: flex;
    align-items: stretch;
    gap: 8px;
}

.statsNamesContainer {
    font-size: 14px;
    text-align: end;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}


.containerEvolveChain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.evolveChainImg {
    width: 100px;
    height: 100px;
}

.evolveChainText {
    font-size: var(--fsDesktopTertiary);
    text-align: center;
}

#previousPokemonBtn {
    left: -90px;
}

#nextPokemonBtn {
    right: -90px;
}

.moveBtn {
    position: absolute;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    padding: 80px 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.moveBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.accordion-body.jc_center{
    justify-content: center;
}